<div class="container">
    <form id="locationSearch">
        
        <div class="form-group">
            <label for="locationSearch"><h5>Search Property</h5></label>

            <input id="location" type="input" class="form-control" placeholder="Enter Zip Code or City" required>
         </div>
        
             <button type="submit" class="btn btn-secondary" id="submitBtn">Submit</button>


    </form>


    
</div>

