<div class="container">
    <form id="userLoginForm">  
        <div class="form-group">
            <label for="userLogin"><h5>User Login</h5></label>
            <input id="userId" type="email" class="form-control" placeholder="your-email@email.com" required>
            <input id="userPwd" type="password" class="form-control" placeholder="password" required>
         </div>      
            <button type="submit" class="btn btn-secondary" id="submitBtn">Submit</button>
    </form>  
</div>